<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/add" method = "post">
        {% csrf_token %}
        <h2>Add a new course</h2>
        <h5>Name:</h5><input type="text" name="course_name">
        <h5>Description</h5><textarea name="description" cols="40" rows="8"></textarea>
        <input type="submit" value="add">
    </form>
    <h2>Courses</h2>
    <table>
        <tr>
            <th>Course Name</th>
            <th>Description</th>
            <th>Date Added</th>
            <th>Actions</th>
        </tr>
        {% for Course in Course %}
            <tr>
                <td>{{Course.course_name}}</td>
                <td>{{Course.description}}</td>
                <td>{{Course.created_at}}</td>
                <td><a href="/destroy/{{Course.id}}">Remove</a></td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>